@font-face{
  font-family: montserrat-400;
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face{
  font-family: montserrat-300;
  src: url(fonts/Montserrat-Light.ttf);
}
@font-face{
  font-family: montserrat-600;
  src: url(fonts/Montserrat-SemiBold.ttf);
}
@font-face{
  font-family: montserrat-700;
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: poppins-400;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face{
  font-family: poppins-600;
  src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face{
  font-family: poppins-700;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face{
  font-family: poppins-500;
  src: url(fonts/Poppins-Medium.ttf);
}

#mont_400{
  font-family: montserrat-400;
}
.dropdown-menu {
  display: none;
}
.group:hover .dropdown-menu {
  display: block;
}
#mont_300{
  font-family: montserrat-300;
}
#mont_600{
  font-family: montserrat-600;
}
#mont_700{
  font-family: montserrat-700;
}
#pop_400{
  font-family: poppins-400;
}
#pop_600{
  font-family: poppins-600;
}
#pop_700{
  font-family: poppins-700;
}
#pop_500{
  font-family:poppins-500
}