@font-face{
    font-family: outfit_1;
    src: url(/fonts/Outfit-Black.ttf);
}
@font-face{
    font-family: subjectivity_700;
    src: url(/fonts/Subjectivity-Bold.otf);
}
@font-face{
    font-family: clash_display_400;
    src: url(/fonts/ClashDisplay-Regular.otf);
}
@font-face{
    font-family: subjectivity_400;
    src: url(/fonts/Subjectivity-Regular.otf);
}
@font-face{
    font-family:subjectivity_light;
    src:url(/fonts/Subjectivity-Light.otf);
}
@font-face{
    font-family: outfit_semibold;
    src: url(/fonts/Outfit-SemiBold.ttf);
}
@font-face{
    font-family: outfit_400;
    src: url(/fonts/Outfit-Regular.ttf);
}
@font-face{
    font-family: outfit_300;
    src: url(fonts/Outfit-Light.ttf);
}
@font-face{
    font-family: poppins_300;
    src:url(fonts/Poppins-Light.ttf) ;
}
@font-face{
    font-family: outfit_500;
    src: url(fonts/Outfit-Medium.ttf);
}
@font-face{
    font-family: outfit_700;
    src: url(fonts/Outfit-Bold.ttf);
}
@font-face{
    font-family: outfit_900;
    src: url(fonts/Outfit-ExtraBold.ttf);
}


body{
    background-color: #FFFAE5;
    margin-top:38px;
    margin-left:50px;
}

#page_name{
    font-family: subjectivity_700;
    font-style: italic;
    

}
#nav_part{
    font-family:clash_display_400 ;
}
#btn{
    font-family: clash_display_400;
    background-color: #FAC97A;
}
#down_icon{
    background-color: #FAC97A;
}
#embrace{
    font-family: outfit_1;
}
#second_p{
    font-family: subjectivity_light;
    font-style: italic;
    font-weight: bold;
}
#cont_1{
    background-color: #FAC97A;
}
ul {
    list-style: none;
  }
ul li:before {
    content: '✓';
  }
  li{
    font-family: outfit_semibold;
  }
  #story{
    font-family: outfit_1;
    color: #C2C2C2;
  }
  #specialize{
    font-family:outfit_semibold ;
  }
  #out_400{
    font-family: outfit_400;
  }
  #out_300{
    font-family:outfit_300 ;
  }
  #pop_300{
    font-family: poppins_300;
  }
  #out_500{
    font-family: out_500;
  }
  #sub_400{
    font-family: subjectivity_400;
  }
  #out_700{
    font-family: outfit_700;
  }
  #out_900{
    font-family: outfit_900;
  }